.content {
  text-align: center;
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
  h1 {
    font-size: 42px;
    font-weight: 600;
    color: #383e45;
    margin-bottom: 8px;
  }
  p {
    font-size: 22px;
    font-weight: 400;
    color: #383e45;
    padding-bottom: 30px;
  }
  span {
    color: #4D90FE;
  }
  .select-img {
    padding-top: 30px;
    label {
      font-weight: 600;
      font-size: 28px;
      color: #fff;
      padding: 24px 56px;
      background: #4d90fe;
      min-height: 80px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        background-color:#161616;
      }


    }
    input {
      max-width:1000px;
      max-height:700px;
    }
  }
}

.param {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 72px;
  position: relative;
  canvas {
    width: 650px;
    height: 500px;
  }
  .arrow {
    position: absolute;
    left: 566px;
  }
}

.button {
  width: 100%;
  display: flex;
  justify-content:center;
  margin-top: 50px;
  gap: 50px;
  button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 22px;
  }
}
