@media (min-width: 400px) {
  #grid-1,
  #grid-2 {
    color: rgb(255, 191, 0);
    justify-content: space-around;
    font-size: 25px;
    padding-top: 1em;
    padding-left: 10em;
    padding-right: 10em;
    background-color: rgb(0, 255, 255);
    width: 90vw;
    height: 20vh;
    margin: auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-top: 50px;
  }
  h5 {
    font-size: 25px;
    color: red;
  }

  #choose-image {
    font-size: 25px;
    color: red;
  }

  #text-above {
    height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 216px;
    padding: 0 20px;
  }
  #text-below {
    height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 216px;
    padding: 0 20px;
  }

  #grid-2 {
    padding-top: 0;
    margin-top: 1em;
  }

  #canvas-container {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 50px;
  }

  .btn-div {
    margin: 0;
    // position: absolute;
    // top: 58%;
    // left: 45%;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content:center;
    margin-top: 50px;

  }

  .down {
    color: #fff;
    height: 50px;
    width: 200px;
    background: black;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 20px;
    &:hover {
      background: red;
    }
  }

  #btn {
    // margin-top: 1em;
    color: #fff;
    height: 50px;
    width: 200px;
    background: black;
    cursor: pointer;
    transition: all 0.5s;
    font-size:20px;
    &:hover {
      background: green;
      // color: #000;
    }
  }
}
@media (min-width: 716px) {
  #canvas {
    width: 40vw;
    height: 50vh;
    border-radius: 20px;
  }
}
