<div class="info">
  <h1>Thông tin cá nhân</h1>
  <div class="box-info">
    <label for="">Tên</label>
    <div class="input">
      <span>{{info.last_name}}</span>
    </div>
  </div>
  <div class="box-info">
    <label for="">Họ đệm</label>
    <div class="input">
      <span>{{info.first_name}}</span>
    </div>
  </div>
  <div class="box-info">
    <label for="">Email</label>
    <div class="input">
      <span>{{info.email}}</span>
    </div>
  </div>
  <div class="box-info">
    <label for="">Ngày sinh</label>
    <div class="input">
      <span>{{info.birth_date}}</span>
    </div>
  </div>
  <div class="box-info">
    <label for="">Só điện thoại</label>
    <div class="input">
      <span>{{info.phone_number}}</span>
    </div>
  </div>
</div>

<div class="button">
  <button (click)="back()">Back</button>
</div>
