<div class="app">
  <div class="header">
    <div class="container-xl">
      <div class="header-logo" (click)="home()">
        <span>DUNG</span> IMG
      </div>
      <div class="header-list">
        <ul>
          <li (click)="compress()">Nén ảnh</li>
          <li (click)="resize()">Thay đổi kích thước ảnh</li>
          <li (click)="crop()">Cắt cúp ảnh</li>
          <li (click)="convert()">Chuyển đổi sang JPG</li>
          <li (click)="draw()">Chuyển ảnh thành đen trắng</li>
          <li class="list">
            Các công cụ khác
            <img src="assets/img/left-ar.svg" alt="">
            <ul class="list-item">
              <li (click)="convertPng()">Chuyển đổi từ JPG sang PNG</li>
              <li (click)="meme()">Công cụ tạo meme</li>
              <li (click)="rotate()">Xoay ảnh</li>
            </ul>
          </li>
        </ul>
          <div class="user" *ngIf="checklogin == true">
            <img class="img-avarta" src="../../../assets/img/avarta.png" alt="">
            <p>{{inforUser.last_name}}</p>
            <img src="../../../assets/img/arrow-down.svg" alt="">
            <div class="list-infomation">
              <p (click)="info()">Thông tin tài khoản</p>
              <p (click)="loginTwo()">Đăng xuất</p>
            </div>
          </div>


        <div class="header-login" *ngIf="checklogin == false">
          <span (click)="login()">Đăng nhập</span>&nbsp;  <span>|</span>
          &nbsp;
          <span (click)="signup()">Đăng ký</span>
        </div>


      </div>
    </div>
  </div>
  <!-- <div class="banner">
    <h1>Các công cụ giúp bạn có thể chỉnh sửa hàng loạt hình ảnh</h1>
    <span>Trình sửa ảnh luôn luôn miễn phí</span>
  </div>
  <div class="content">
    <div class="container">
      <div class="tool-list">
        <div class="tool-item">
          <img src="../../assets/img/co ảnh.jpg" alt="">
          <p>Nén hình ảnh</p>
          <span>Nén JPG, PNG, SVG, và GIF trong khi tiết kiệm dung lượng và duy trì chất lượng.</span>
        </div>
        <div class="tool-item">
          <img src="../../assets/img/cut.jpg" alt="">
          <p>Cắt hình ảnh</p>
          <span>Nén JPG, PNG, SVG, và GIF  một cách dễ dàng; Chọn pixel để xác định hình chữ nhật của bạn hoặc sử dụng trình chỉnh sửa trực quan của chúng tôi.</span>
        </div>
        <div class="tool-item">
          <img src="../../assets/img/resize.jpg" alt="">
          <p>Thay đổi kích thước hình ảnh</p>
          <span>Xác định kích thước của bạn, theo phần trăm hoặc pixel và thay đổi kích thước hình ảnh JPG, PNG, SVG, và GIF của bạn</span>
        </div>
        <div class="tool-item">
          <img src="../../assets/img/convert.jpg" alt="">
          <p>Chuyển đổi sang JPG</p>
          <span>Dễ dàng chuyển các hình ảnh định dạng sang JPG</span>
        </div>
        <div class="tool-item">
          <img src="../../assets/img/convertfrom.jpg" alt="">
          <p>Chuyển đổi từ JPG</p>
          <span>Dễ dàng chuyển từ JPG sang các hình ảnh định dạng khác</span>
        </div>
        <div class="tool-item">
          <img src="../../assets/img/edit.jpg" alt="">
          <p>Trình chỉnh sửa ảnh</p>
          <span>Tô điểm cho ảnh của bạn bằng văn bản, hiệu ứng, khung hoặc nhãn dán. Các công cụ chỉnh sửa đơn giản cho nhu cầu hình ảnh của bạn.</span>
        </div>
        <div class="tool-item">
          <img src="../../assets/img/meme.jpg" alt="">
          <p>Trình tạo meme</p>
          <span>Tạo meme của bạn trực tuyến một cách dễ dàng. Chú thích hình ảnh meme hoặc tải lên hình ảnh của bạn để tạo meme tùy chỉnh.</span>
        </div>
        <div class="tool-item">
          <img src="../../assets/img/around.jpg" alt="">
          <p>Xoay hình ảnh</p>
          <span>Chọn chỉ xoay hình ảnh phong cảnh hoặc chân dung!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="information">
    <div class="container">
      <div class="information-content">
        <div class="information-img">
          <img src="../../assets/img/imagefont.png" alt="">
        </div>
        <div class="information-text">
          <div class="information-title">
            <h2>Công cụ chỉnh sửa ảnh tiện ích dành cho mọi người</h2>
          </div>
          <div class="information-item">
              <p>Chỉnh sửa hoàng loạt ảnh</p>
              <span>Với xử lý hàng loạt, bạn có thể chuyển đổi nhiều ảnh cùng một lúc.
                 DUNGIMG hỗ trợ chuyển đổi PNG, JPG, GIF, WEBP, HEIC, RAW, v.v. </span>
          </div>
          <div class="information-item">
            <p>Tối ưu hóa hình ảnh web</p>
            <span>Dễ dàng thay đổi kích thước và nén nhiều ảnh cùng một lúc với độ chính xác hoàn hảo của pixel.
              Chuyển đổi ngay lập tức ảnh và hình ảnh trực tuyến của bạn cho web, mạng xã hội và thương mại điện tử.</span>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rating">
    <div class="container">
      <div class="rating-content">
        <h2>Trình chỉnh sửa hình ảnh trực tuyến đáng tin cậy của bạn, được người dùng trên toàn thế giới yêu thích</h2>
        <p>DUNGIMG là giải pháp đơn giản để chỉnh sửa hình ảnh trực tuyến. Truy cập tất cả các công cụ bạn cần để nâng cao hình ảnh của mình một cách dễ dàng, trực tiếp từ web, với độ bảo mật 100%.</p>
      </div>
    </div>
  </div> -->
</div>
