<div class="login">
  <div class="login-input">
    <div class="login-item">
      <div class="login-title">
        <span>DUNG</span>IMG
        <p>Nhập mã OTP</p>
        <h4>Nhập email của bạn và kiểm tra hộp thư đến của bạn để biết hướng dẫn. Vui lòng kiểm tra thư mục thư rác của bạn.</h4>
      </div>
      <div class="login-import">
        <input type="text" placeholder="Nhập mã OTP" [(ngModel)]="otp">
        <!-- <input type="password" placeholder="Nhập mật khẩu"> -->
      </div>
      <!-- <div class="login-forgot">
        <p [routerLink]="['forgot']">Quên mật khẩu?</p>
      </div> -->
      <div class="login-button">
        <button (click)="confirmOtp()">Gửi</button>
      </div>
      <div class="login-button">
        <button (click)="back()">Trở lại</button>
      </div>
      <!-- <div class="login-nick">
        Không có tải khoản? <span >Tạo một tài khoản mới</span>
      </div> -->
    </div>

  </div>
  <div class="login-infomation">
    <div class="login-img">
      <!-- <img src="assets/img/iloveimg.png" alt=""> -->
      <div class="panagrapt">
        <h1>Nhập mã OTP</h1>
        <p>Một bước nữa là xong rồi!</p>
      </div>
    </div>
  </div>
</div>


