.content {
  text-align: center;
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
  h1 {
    font-size: 42px;
    font-weight: 600;
    color: #383e45;
    margin-bottom: 8px;
  }
  p {
    font-size: 22px;
    font-weight: 400;
    color: #383e45;
    padding-bottom: 30px;
  }
  span {
    color: #4D90FE;
  }
  .select-img {
    padding-top: 30px;
    label {
      font-weight: 600;
      font-size: 28px;
      color: #fff;
      padding: 24px 56px;
      background: #4d90fe;
      min-height: 80px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        background-color:#161616;
      }


    }
    input {
      max-width:1000px;
      max-height:700px;
    }
  }
}
.form-edit {
  display:flex;
  .list-img {
    padding: 60px 24px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    position: relative;
    .list-img__item {
      height: 224px;
      width: 196px;
      padding: 12px 16px 12px;
      border: 1px solid #ccc;
      cursor: pointer;
      .item-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .item-btn__icon {
          height: 24px;
          width: 24px;
          background-color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: rgb(253, 253, 253);
          }
          img {
            height: 14px;
            width: 16px;
          }
        }
      }
      .item-url {
        height: 80%;
        display: flex;
        width: 100%;
      }
      .item-name {
        padding: 10px 0;
        input {
          border:none;
          border: none;
          text-align: center;
          width: 160px;
          outline: #ccc;
        }
      }
    }
    .list-img__input {
      position: absolute;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: #4D90FE;
      right: 20px;
      label {
        cursor: pointer;
      }
      img {
        max-width: 100%;
      }
    }
  }
  .parameter {
    width: calc(100% - 75%);
    border-left: 1px solid #ccc;
    height: 93vh;
    position: relative;
    .parameter-text {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      color: #383e45;
      text-transform: uppercase;
      border-bottom: 1px solid #ccc;
    }
    .parameter-note {
      padding: 16px 24px;
      .parameter-around {
        button {
          width: 200px;
          height: 50px;
          font-size:22px;
          cursor: pointer;
        }
      }
      .parameter-note__high {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
        span {
          font-size: 15px;
          font-weight: 500;
        }
        input {
          width: 72px;
          height: 42px;
          padding: 12px;
          outline: none;
        }

      }
      .parameter-note__text {
        height: 88px;
        border-radius: 2px;
        background-color: #D9EDF7;
        padding: 24px;
        font-size: 15px;
        line-height: 20px;
        color: #383e45;
      }
      .parameter-buton {
        position: absolute;
        bottom: 20px;
        width: 100%;

        button {
          height: 88px;
          background-color: #4D90FE;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: none;
          width: 430px;
          font-size: 24px;
          font-weight: 600;
          line-height: 34px;
          transition: all 0.5s;
          &:hover {
            background-color: #161616;
          }
        }
      }
    }

  }

}

img {
  width: 170px;
  max-height: 177px;
  object-fit: contain;
}
